<h2>Booking Show</h2>
<!-- FOR FRONT END use following variables:
    @owner = @booking.car.user
    @renter = @booking.user
    @car = @booking.car
    @booking
 -->
owner name: <%= @owner.name %>
<br>
owner email: <%= @owner.email %>
<br>
renter name: <%= @renter.name %>
<br>
renter email: <%= @renter.email %>
<br>
car model: <%= @car.model %> | car brand: <%= @car.brand %>

<!--
has a start and end date that should be displayed
through it can access both user_customer information ex. @booking.user.user_image
and the vintage car information ex. @booking.car.car_image

 -->
