<!-- current_user
@bookings = current_user.bookings
    @cars = current_user.cars
    @bookings.each.car
    @owner = user.bookings.car.user -->

<%= current_user.email %>


your cars
<ul>
    <% @cars.each do |car| %>
      <li><%= car.brand %> <%= car.model %></li>
    <% end %>
</ul>

your rentals
<ul>
    <% @bookings.each do |booking| %>
      <li><%= booking.car.brand %> <%= booking.car.model %></li>
    <% end %>
</ul>

your bookings
<ul>
    <% @bookings.each do |booking| %>
      <li>
        owner email <%= booking.user.email %>
        <br>
        owner name<%= booking.user.name %>
        <br>
        owner car <%= booking.car.model %> <%= booking.car.brand %>
      </li>
    <% end %>
</ul>

