<%= render 'shared/search_banner' %>
<div class="wrapper-grey">
  <div class="container-wrap text-center light-grey-background">
    <h1>Car Listings</h1>


    <div class="row">
      <div class="col-xs-12">  <!-- col-sm-offset-2 col-sm-8 -->
        <% @cars.sample(21).each do |car| %>
          <div class="col-xs-12 col-sm-4">
            <section id="content">
              <%= link_to "", car_path(car), class: "card-link"%>

              <h4><%=car.brand%> <%=car.model%></h4>

              <div id="profile_pic" style="background: url(<%= avatar_url(car.user)%>);">
              </div>

              <div id="head" style="background: url(<%= car_image_url?(car)%>);"></div>

              <p>
                <i class="fa fa-user-o" aria-hidden="true"></i>  <%=car.user.name%>
              </p>
              <p>
                <i class="fa fa-money" aria-hidden="true"></i>  €<%=car.price%>
              </p>
              <p>
                <i class="fa fa-globe" aria-hidden="true"></i>  <%=car.location%>
              </p>
              <p><i class="fa fa-star" style="color: #ffb400"></i>
                <i class="fa fa-star" style="color: #ffb400"></i>
                <i class="fa fa-star" style="color: #ffb400"></i>
                <i class="fa fa-star" style="color: #ffb400"></i>
                <i class="fa fa-star" style="color: #cacccd"></i>
              </p>



            </section>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>

<script>
  var input = document.getElementById('searchTextField');
  var options = {
    bounds: defaultBounds,
    types: ['establishment']
  };

  autocomplete = new google.maps.places.Autocomplete(input, options);
</script>
