<%= render 'shared/search_banner' %>

<div class="container text-center">
<br>
  <h1>Car Listings</h1>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8">
      <% @cars.each do |car| %>
        <div class="col-xs-12 col-sm-4">
          <!-- calls helper method, returns url -->

          <div class="card">
            <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= car_image_url?(car) %>');">
            </div>

            <div class="card-footer">
              <p><%= car.brand %> <%= car.model %>
            </div>
            <%= link_to "", car_path(car), class: "card-link" %>

          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>

<div class="text-center padded">
  <%= link_to "Add new car", new_car_path, class: "btn btn-lg btn-success" %>
</div>
<script>
  var input = document.getElementById('searchTextField');
  var options = {
    bounds: defaultBounds,
    types: ['establishment']
  };

  autocomplete = new google.maps.places.Autocomplete(input, options);
</script>
