<h1>Search Results</h1>
<div class="map-body">
  <div class="row">
    <div class="col-xs-12 col-sm-5">
      <div id="map" class="map-fixed" style="margin: 0;
      padding: 0; width: 500px;">
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <% @cars.each do |car| %>
        <div class="product">
          <div class='product-upvote'>
            <div class="product-arrow"></div>
            <div class='product-count'>95</div>
          </div>
      <%= link_to "", car_path(car), class: "card-link" %>
      <%= image_tag car_image_url?(car), {class: "product-image", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));"}%>


      <div class='product-body'>
        <h3><%= car.brand %> <%= car.model %></h3>
        <p><%= car.location %></p>
      </div>
      <div class='product-body'>
        <%= image_tag avatar_url(car.user), class: "avatar-search" %>
        <%= car.user.name %>
        <ul class="list-inline product-controls product-controls-hidden hidden-sm hidden-xs">
          <li><a href=""><i class="fa fa-heart"></i></a></li>
          <li><a href=""><i class="fa fa-share"></i></a></li>
          <li><a href=""><i class="fa fa-star"></i></a></li>
        </ul>
      </div>
    </div>
    <%end%>
  </div>
  </div>
  </div>s


<% content_for(:after_js) do %>
<script>
  $(document).ready(function() {
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  });apis.c
</script>
<% end %>
