  <div class="container">
    <div class="row padded">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <div class="text-center">
            <h1><%= @car.brand %> <%= @car.model %></h1>
            <!-- calls helper method to assign photo if missing -->
            <%= cl_image_tag car_image?, width: 600, height: 400, crop: :fill %>

            <p> <%= @car.location %></p>
            <i class="fa fa-star" style="color: #ffb400"></i>
            <i class="fa fa-star" style="color: #ffb400"></i>
            <i class="fa fa-star" style="color: #ffb400"></i>
            <i class="fa fa-star" style="color: #ffb400"></i>
            <i class="fa fa-star" style="color: #cacccd"></i>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h2>About the Car</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <% if current_user == @car.user %>
          <%= link_to "Edit car description", edit_car_path(@car), class: "btn btn-primary" %>
          <%= link_to "Delete listing", car_path(@car), { method: :delete, class: "btn btn-danger" } %>
        <%end%>
        <hr>
        <div class="row" id="flat-data">
          <div class="col-xs-12 col-sm-2">
            The Specs
          </div>
          <div class="col-xs-12 col-sm-4">
            <ul class="list-unstyled">
              <li>Owner: <strong><%= @car.user.email %></strong></li>
              <li>Model: <strong><%= @car.brand %> <%= @car.model %></strong></li>
              <li>Year: <strong>  @car.year </strong></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4">
            <ul class="list-unstyled">
              <li>Condition: <strong><%= @car.description %></strong></li>
              <li>Location: <strong><%= @car.location %></strong></li>
              <li>Daily rate: <strong> <%= @car.price %> €</strong></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>


      <div id="map" style="width: 100%; height: 600px;"></div>

      <% content_for(:after_js) do %>
        <script>
          $(document).ready(function() {
            var handler = Gmaps.build('Google');
            handler.buildMap({ internal: { id: 'map' } }, function() {
              markers = handler.addMarkers(<%= raw @hash.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
              if (markers.length == 0) {
                handler.getMap().setZoom(2);
              } else if (markers.length == 1) {
                handler.getMap().setZoom(14);
              }
            });
          });
        </script>
      <%end%>

    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h2>Reviews</h2>
          <% @car.bookings.each do |booking| %>
            <% booking.reviews.each do |review| %>
            <ul>
                <li>Rating:<%= review.rating %></li>
                <li>Comments:<%= review.content %></li>
                <li>Renter:<%= booking.user.email %></li>
            </ul>
            <hr>
            <% end %>
          <% end %>
        </div>
    </div>
  </div>
  <% if @car.user != current_user %>
    <div class="row padded">
    <div class="col-xs-4 col-sm-3 col-sm-offset-4">
      <h1>New Booking</h1>
        <%= simple_form_for [@car, @booking] do |f| %>
          <%= f.input :start_date, as: :string, input_html: {class: "datepicker"}  %>
          <%= f.input :end_date, as: :string, input_html: {class: "datepicker"}  %>
          <%= f.submit "Book your ride", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
